################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Autoleasing.Backend/Tameenk.AutoLeasing.IdentityAPI
